	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<!--meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags >
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico"-->

		<title>Vé Máy Bay</title>

		<!-- Bootstrap core CSS -->
		<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="navbar-fixed-top.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>


<!-- get quoc gia--> 
<script>

		if (window.XMLHttpRequest)
		            {
		                // code for IE7+, Firefox, Chrome, Opera, Safari
		                xmlhttp=new XMLHttpRequest();
		            } else {
		                // code for IE6, IE5
		                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		            }

		    xmlhttp.onreadystatechange=function() {
		    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
		        myFunction(xmlhttp.responseText);
		    }
		}
		xmlhttp.open("GET", 'http://localhost:3000/api/v1/Quoc_Gia', true);
		xmlhttp.send();

function myFunction(response) {
    var arr = JSON.parse(response);
    var i;  
    var out = "";
    out += "<option/>"; 
    for(i = 0; i < arr.length; i++)
         {
             for(j = 0; j < arr[i].ChauLuc.QuocGia.length; j++)
             {
            	 out += "<option value = '" + arr[i].ChauLuc.QuocGia[j].MaQG + "'>" + arr[i].ChauLuc.QuocGia[j].TenQG + "</option>"; 
            }
          }
    document.getElementById("frm_timve_quocGia").innerHTML = out;
    document.getElementById("frm_timve_quocTich").innerHTML = out;
    document.getElementById("frm_timve_hoChieu").innerHTML = out;
}
</script>

<!-- get tinh--> 
<script>
function getTinh(maQg)
{
		if (window.XMLHttpRequest)
		            {
		                // code for IE7+, Firefox, Chrome, Opera, Safari
		                xmlhttp=new XMLHttpRequest();
		            } else {
		                // code for IE6, IE5
		                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		            }

		    xmlhttp.onreadystatechange=function() {
		    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
		        myFunctionChangre(xmlhttp.responseText);
		    }
		}
		xmlhttp.open("GET", 'http://localhost:3000/api/v1/Tinh/?MaQG=' + maQg, true);
		xmlhttp.send();
	}

function myFunctionChangre(response) {
    var arr = JSON.parse(response);
    var i;  
    var out = "";
    for(i = 0; i < arr.length; i++)
         {
             for(j = 0; j < arr[i].Tinh.length; j++)
             {
            	 out += "<option value = '" + arr[i].Tinh[j].MaTinh + "'>" + arr[i].Tinh[j].TenTinh + "</option>"; 
            }
          }
    document.getElementById("frm_timve_tinh").innerHTML = out;
}
</script>
</head>

<body>
	<legend>
		<div class="container">
			<div class="row">

				<!--thanh menu-->
				<div class="col-md-12">
					<nav class="navbar navbar-defauldt" style="background: #b30000; height: 15px;" role="navigation">
						<div class="container-fluid">
							<ul class="nav navbar-nav nav-left">
								<ul class="nav navbar-nav">
									<li><a href="TrangChu.html" style="font-size: 15px; color: #FFFFFF">Trang chủ</a></li>
									<li><a href="#" style="font-size: 15px; color: #FFFFFF">Vé giá rẻ</a></li>
									<li><a href="History.html" style="font-size: 15px; color: #FFFFFF">Lịch sử mua vé</a></li>
									<li><a href="Confirm.html" style="font-size: 15px; color: #FFFFFF">Thông tin tài khoản</a></li>
									<li><a href="#" style="font-size: 15px; color: #FFFFFF">Cài đặt</a></li>
								</ul>
							</ul>
						</div>

					</nav>
				</div><!--//thanh menu-->

				<div class="col-md-12">

					<div class="panel" style="background:#ffa64d">
						<div class="panel-heading" style="height:130px"><h3 style="font-size:30px;margin-top: 0px"><strong><h1>Thông tin khách hàng</h1></strong></h3>
							<h3>Các trường thông tin có dấu * là bắt buộc</h3>
						</div>
						<div class="panel-body" style="background:#ffffcc">
							<form id="timve" name="timve" method="post" action="http://localhost:3000/api/v1/Khach_Hang">
								<table align="center" width="100%">
									<tbody>

										<tr>
											<td align="left" nowrap="nowrap" style="padding-bottom: 10px">
												Quý danh*:
											</td>
											<td align="left" nowrap="nowrap">
												<select name="quyDanh" id="frm_timve_quyDanh" style="width:200px;">
													<option value="Mr">Mr</option>
													<option value="Ms">Ms</option>
												</select>
											</td>
										</tr>

										<tr>

											<td align="left" nowrap="nowrap" style="padding-bottom: 10px">
												Họ(ví dụ: Nguyễn)*:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="ho" type="text" id="frm_timve_ho" style="width:200px;" value="">

											</td>

											<td align="left" nowrap="nowrap">
												Tên đệm và Tên(ví dụ: Hoàng Tín)*:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="ten" type="text" id="frm_timve_ten" style="width:200px;" value="">

											</td>
										</tr>

										<tr>

											<td align="left" nowrap="nowrap" style="padding-bottom: 10px">
												Địa chỉ*:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="diaChi" type="text" id="frm_timve_diaChi" style="width:200px;" value="">

											</td>

											<td align="left" nowrap="nowrap">
												Thành phố*:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="thanhPho" type="text" id="frm_timve_thanhPho" style="width:200px;" value="">

											</td>
										</tr>

										<tr>
											<td align="left" nowrap="nowrap" style="padding-bottom: 10px">
												Quốc gia*:
											</td>
											<td align="left" nowrap="nowrap">
												<select name="quocGia" id="frm_timve_quocGia"  onchange="getTinh(this.value)" style="width:200px;">
													
												</select>
											</td>

											<td align="left" nowrap="nowrap" style="padding-bottom: 10px">
												Tỉnh/Tiểu ban*:
											</td>
											<td align="left" nowrap="nowrap">
												<select name="tinh" id="frm_timve_tinh" style="width:200px;">													
												</select>
											</td>
										</tr>

										<tr>

											<td align="left" nowrap="nowrap">
												Email:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="email" type="text" id="frm_timve_email" style="width:200px;" value="">

											</td>

											<td align="left" nowrap="nowrap">
												Ngày sinh:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="ngaySinh" type="date" id="frm_timve_ngaySinh" style="width:200px;" value="">

											</td>
										</tr>

										<tr>

											<td align="left" nowrap="nowrap">
												Điện thoại di dộng*:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="sdtdd" type="number" id="frm_timve_sdtdd" style="width:200px;" value="">

											</td>

											<td align="left" nowrap="nowrap">
												Số điện thoại:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="sdt" type="number" id="frm_timve_sdt" style="width:200px;" value="">

											</td>
										</tr>
										<tr>

											<td align="left" nowrap="nowrap">
												Số hộ chiếu:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="soHoChieu" type="text" id="frm_timve_soHoChieu" style="width:200px;" value="">

											</td>

											<td align="left" nowrap="nowrap">
												Ngày hết hạn hộ chiếu:
											</td>
											<td align="left" nowrap="nowrap">
												<input name="ngayHetHanHoChieu" type="date" id="frm_timve_ngayHetHanHoChieu" style="width:200px;" value="">

											</td>
										</tr>
										<tr>
											<td align="left" nowrap="nowrap" style="padding-bottom: 10px">
												Hộ chiếu nước:
											</td>
											<td align="left" nowrap="nowrap">
												<select name="hoChieu" id="frm_timve_hoChieu" style="width:200px;">													
												</select>
											</td>

											<td align="left" nowrap="nowrap" style="padding-bottom: 10px">
												Quốc tịch:
											</td>
											<td align="left" nowrap="nowrap">
												<select name="quocTich" id="frm_timve_quocTich" style="width:200px;">
												</select>
											</td>
										</tr>
										<tr>
											<td colspan="8" align="right" nowrap="nowrap">
												<button class="btn btn-primary" type="button" class="btnxemthongke"><strong>Quay về</strong></button>
												<button class="btn btn-primary" type="submit" class="btnxemthongke"><strong>Tiếp tục</strong></button>
											</td>
										</tr>
									</tbody>
								</table>
								<button type="submit">aaa</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</legend>

	<!--footer-->     

	<footer class="footer-site" >
		<div class="row" style="text-align: center;">
			<span>Copyright © 2016 TVT</span>
		</div>
	</footer>

</body>
</html>

	<!--div class="sketchfab-embed-wrapper">
	  <iframe width="640" height="480" 
	  src="https://sketchfab.com/models/20670a1d13e449748b385e99400eda12/embed" 
	  frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" 
	  onmousewheel="">
	  </iframe>
	  </div-->