	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title>Vé Máy Bay</title>

		<!-- Bootstrap core CSS -->
		<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="navbar-fixed-top.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

		

		
</head>

<body>
	<legend>
		<div class="container">
			<div class="row">

				<!--thanh menu-->
				<div class="col-md-12">
					<nav class="navbar navbar-defauldt" style="background: #b30000; height: 15px;" role="navigation">
						<div class="container-fluid">
							<ul class="nav navbar-nav nav-left">
								<ul class="nav navbar-nav">
									<li><a href="#" style="font-size: 15px; color: #FFFFFF">Trang chủ</a></li>
									<li><a href="#" style="font-size: 15px; color: #FFFFFF">Vé giá rẻ</a></li>
									<li><a href="#" style="font-size: 15px; color: #FFFFFF">Lịch sử mua vé</a></li>
									<li><a href="#" style="font-size: 15px; color: #FFFFFF">Thông tin tài khoản</a></li>
									<li><a href="#" style="font-size: 15px; color: #FFFFFF">Cài đặt</a></li>
								</ul>
							</ul>
						</div>

					</nav>
				</div><!--//thanh menu-->

				<div class="col-md-12">
					<div class="panel-heading" style="height:130px">
						<strong><h1>Thông tin thanh toán</h1></strong>
						<h3>Các trường thông tin có dấu * là bắt buộc</h3>
					</div>
					<div style="padding-left: 40px">
					<h3>Hình thức thanh toán</h3>
						<div id="thanhToan">
							<input id='nganHang1' type='radio' name='ve' value=''/> <img src="public\img\logo3.jpg">
							<input id='nganHang2' type='radio' name='ve' value=''/> <img src="public\img\logo2.jpg">
							<input id='nganHang3' type='radio' name='ve' value=''/> <img src="public\img\logo3.jpg">
							<input id='nganHang4' type='radio' name='ve' value=''/> <img src="public\img\logo3.jpg">
							<input id='nganHang5' type='radio' name='ve' value=''/> <img src="public\img\logo2.jpg">
						</div>
					</div>
					<div align="right">
						<button name="quayVe" id="quayVe" class="btn btn-primary" type="button"><strong>Quay về</strong></button>
						<button name="tiepTuc" id="tiepTuc" class="btn btn-primary" type="button"><strong>Tiếp tục</strong></button>
					</div>
				</div>
			</div>
		</div>
	</legend>

	<!--footer-->     

	<footer class="footer-site" >
		<div class="row" style="text-align: center; padding-top: 30px;">
			<span>Copyright © 2016 TVT</span>
		</div>
	</footer>

</body>
</html>

	<!--div class="sketchfab-embed-wrapper">
	  <iframe width="640" height="480" 
	  src="https://sketchfab.com/models/20670a1d13e449748b385e99400eda12/embed" 
	  frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" 
	  onmousewheel="">
	  </iframe>
	  </div-->