	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Vé Máy Bay</title>

		<!-- Bootstrap core CSS -->
		<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="navbar-fixed-top.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

		

		<script>

		    function ValidationEvents() {
				// Storing Field Values In Variables
				
				var nguoiLons = document.getElementById("frm_timve_nguoilon");
				var nguoiLon = nguoiLons.options[nguoiLons.selectedIndex].value;

				var treems = document.getElementById("frm_timve_treem");
				var treem = treems.options[treems.selectedIndex].value;

				var embes = document.getElementById("frm_timve_embe");
				var embe = embes.options[embes.selectedIndex].value;
				// Regular Expression For Email

				var a = parseInt(treem) + parseInt(embe);
				var b = parseInt(nguoiLon) + a;
				
				
				if((parseInt(nguoiLon) < (parseInt(treem) + parseInt(embe))) && b > 10){
					alert("số người lớn phải lớn hơn trẻ em và tổng số người không quá 10");
					return false;
				}
				if(parseInt(nguoiLon) < (parseInt(treem) + parseInt(embe))){
					alert("số người lớn phải lớn hơn trẻ em");
					return false;
				}
				
				if (b > 10) {
					alert("tổng số người không quá 10");
					return false;
				}
			}
			</script>
</head>

<body>
<legend>
	<div class="container">
		<div class="row">

			<!--thanh menu-->
			<div class="col-md-12">
				<nav class="navbar navbar-defauldt" style="background: #b30000; height: 15px;" role="navigation">
					<div class="container-fluid">
						<ul class="nav navbar-nav nav-left">
							<ul class="nav navbar-nav">
								<li><a href="TrangChu.html" style="font-size: 15px; color: #FFFFFF">Trang chủ</a></li>
								<li><a href="#" style="font-size: 15px; color: #FFFFFF">Vé giá rẻ</a></li>
								<li><a href="History.html" style="font-size: 15px; color: #FFFFFF">Lịch sử mua vé</a></li>
								<li><a href="Confirm.html" style="font-size: 15px; color: #FFFFFF">Thông tin tài khoản</a></li>
								<li><a href="#" style="font-size: 15px; color: #FFFFFF">Cài đặt</a></li>
							</ul>
						</ul>
					</div>

				</nav>
			</div><!--//thanh menu-->

			<div class="col-md-12">
				<!--Tim ve-->
				<div class="col-md-4">
					<div class="panel" style="background:#ffa64d">
						<div class="panel-heading" style="height:45px; text-align:center"><h3 style="font-size:30px;margin-top: 0px"><strong>Tìm vé</strong></h3></div>
						<div class="panel-body" style="background:#ffffcc">
							<form onsubmit="return ValidationEvents()" id="timve" name="timve" method="get" action="#">
								<table align="center" width="100%">
									<tbody>

										<tr>
											<td align="left" nowrap="nowrap" style="padding-bottom: 10px">
												Điểm đi:
											</td>
											<td class="padding_" align="left" nowrap="nowrap">
												<input name="diemdi" type="text" id="frm_timve_diemdi" style="width:140px;" value="">

											</td>
										</tr>
										<tr>
											<td class="padding_" align="left" nowrap="nowrap">
												Điểm đến:
											</td>
											<td class="padding_" align="left" nowrap="nowrap">
												<input name="diemden" type="text" id="frm_timve_diemden" style="width:140px;" value="">

											</td>
										</tr>

										<tr>
											<td class="padding_" align="left" nowrap="nowrap">
												Ngày đi:
											</td>
											<td class="padding_" align="left" nowrap="nowrap">
												<input name="ngaydi" type="date" id="frm_timve_ngaydi" style="width:140px;" value="">

											</td>
										</tr>
										<tr>
											<td class="padding_" align="left" nowrap="nowrap">
												Ngày về:
											</td>
											<td class="padding_" align="left" nowrap="nowrap">
												<input name="ngayve" type="date" id="frm_timve_ngayve" style="width:140px;" value="">

											</td>
										</tr>
										<tr>

											<td class="padding_" align="left" nowrap="nowrap">
												Người lớn:
											</td>
											<td class="padding_" align="left" nowrap="nowrap">
												<select name="nguoilon" id="frm_timve_nguoilon" style="width:140px;">
													<option selected="selected" value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="padding_" align="left" nowrap="nowrap">
												Trẻ em(2-12):
											</td>
											<td class="padding_" align="left" nowrap="nowrap">
												<select name="treem" id="frm_timve_treem" style="width:140px;">
													<option selected="selected" value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="padding_" align="left" nowrap="nowrap">
												Em bé(<2):
											</td>
											<td class="padding_" align="left" nowrap="nowrap">
												<select name="embe" id="frm_timve_embe" style="width:140px;">
													<option selected="selected" value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
												</select>
											</td>
										</tr>
										<tr>
											<td class="padding_" colspan="8" align="right" nowrap="nowrap">
												<button class="btn btn-primary" type="submit" class="btnxemthongke"><strong>Tìm ngay</strong></button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div><!--//Tim ve-->
				<div class="col-md-8">
					<div class="table_kq" style="text-align: center; font-size: 13px">
						<table class="table table-bordered table-responsive table-hover table-condensed">
							<thead style="background:#ffa64d">
								<tr>
									<th><strong>Ngay bay</strong></th>
									<th><strong>Khởi hành</strong></th>
									<th><strong>Đến</strong></th>
									<th><strong>Chuyến bay</strong></th>
									<th><strong>Promo</strong></th>
									<th><strong>Eco</strong></th>
									<th><strong>Skyboss</strong></th>
								</tr>
							</thead>
							<tbody id="chuyenBay" style="background:#ffffcc">
								<tr>
									<td><strong>17/10/2016</strong></td>
									<td>08:00 UIH Quy Nhon</td>
									<td>09:00 SGN Ho Chi Minh</td>
									<td>V3381 1h10m</td>
									<td><strong>Hết vé</strong></td>
									<td><input id='ve1' type='radio' name='ve1' value=''/>/td>
									<td><input id='ve2' type='radio' name='ve2' value=''/></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div align="right">
						<button name="quayVe" id="quayVe" align="right" class="btn btn-primary" type="button" class="btnxemthongke"><strong>Quay về</strong></button>
						<button name="tiepTuc" id="tiepTuc" align="right" class="btn btn-primary" type="button" class="btnxemthongke"><strong>Tiếp tục</strong></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</legend>

<!--footer-->     

<footer class="footer-site" >
	<div class="row" style="text-align: center;">
		<span>Copyright © 2016 TVT</span>
	</div>
	</footer>

</body>
</html>

	<!--div class="sketchfab-embed-wrapper">
	  <iframe width="640" height="480" 
	  src="https://sketchfab.com/models/20670a1d13e449748b385e99400eda12/embed" 
	  frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" 
	  onmousewheel="">
	  </iframe>
	  </div-->